@keyframes fadeInFromNone
  0%
    display: none
    opacity: 0

  1%
    display: flex
    opacity: 0


  100%
    display: flex
    opacity: 1


.header
  min-height: 100vh
  background: url("../img/BACK.png") center center no-repeat
  background-size: cover
  padding-bottom: 40px


  &__content
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding-bottom: 40px!important



    img
      z-index: 1400
      margin-top: 88px

    h1
      text-transform: uppercase
      text-align: center
      color: white
      font-family: 'Josefin Sans', sans-serif
      font-size: 96px
      font-weight: bold
      letter-spacing: 0.2em
      line-height: 120px
      margin-top: 55px
      margin-bottom: 15px
      z-index: 1400

    h2
      text-transform: uppercase
      text-align: left
      color: white
      font-family: 'Roboto', sans-serif
      font-weight: 300
      z-index: 1400
      font-size: 24px
      letter-spacing: 0.32em

    .countdown
      z-index: 1400
      color: white
      display: flex
      animation: fadeInFromNone 4s ease-out

      div
        margin: 0 25px
        padding: 0
        min-width: 91px
        text-align: center
        display: flex
        flex-direction: column

        p
          text-align: center
          margin: 0

          &:first-child
            font-family: 'Josefin Sans', sans-serif
            font-size: 60px
            letter-spacing: 0.2em
            line-height: 137px
            border-bottom: solid 4px #2668f8


          &:last-child
            font-family: 'Roboto', sans-serif
            font-weight: 300
            font-size: 18px
            margin-top: 15px

    &__button
      width: 320px
      height: 80px
      background-color: transparent
      border: solid 4px #3cf6a5
      border-radius: 80px
      font-size: 18px
      color: white
      text-transform: uppercase
      font-family: 'Roboto', sans-serif
      font-weight: bold
      letter-spacing: 0.2em
      margin-top: 80px
      z-index: 1400
      transition: 0.5s
      outline: none

      &:hover
        background-color: #3cf6a5
        color: #1f115e


.main-content
  //min-height: 110vh

  background: url("../img/second-bg.png") center center no-repeat
  background-size: cover

  .main-content__wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 60px
    padding-bottom: 120px

    &__header
      font-family: 'Josefin Sans', sans-serif
      text-transform: uppercase
      position: relative
      display: flex
      align-items: center
      justify-content: center
      h2
        font-size: 144px
        line-height: 120px
        letter-spacing: 0.2em
        text-align: center
        color: black
        background: linear-gradient(0deg, #080808 0, #101010 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        margin-bottom: 40px
        margin-top: 40px

      h3
        position: absolute
        font-size: 48px
        line-height: 120px
        letter-spacing: 0.2em
        background: linear-gradient(90deg, #8EF834 0, #00F4F8 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        margin: 0

    p
      width: 845px
      font-size: 30px
      line-height: 60px
      font-family: Roboto
      font-weight: 300
      color: white
      text-align: justify

.offering
  background-color: #201254
  min-height: 100vh
  margin-top: -30px
  position: relative

  &__content
    &__header
      font-family: "Josefin Sans", sans-serif
      display: flex
      align-items: center
      position: relative

      h2
        font-size: 360px
        letter-spacing: 0.2em
        line-height: 120px
        margin: 195px 165px
        color: #301C76

      h3
        position: absolute
        font-weight: 300
        font-size: 72px
        line-height: 96px
        letter-spacing: 0.48em
        color: white
        text-transform: uppercase
        left: 155px
        margin-top: 90px

    p
      max-width: 485px
      font-family: Roboto, sans-serif
      color: white
      font-size: 18px
      line-height: 48px
      margin-left: 155px

    img
      position: absolute
      left: 54%
      top: 25%
      width: 37.5%

